[2016-04-30 22:47] garrying opened #4 "Let's Encrypt SSL/TLS Installation"
This is to track the deployment of Let's Encrypt on the server.
## Installation
- [x] Install Let's Encrypt on web server
- [x] Configure `tomesh.net` DNS
- [x] Determine an email for notices and lost key recovery
- [x] Generate certificate files
- [x] Configure NGINX to use SSL
- [x] Configure server block to use `https`
- [x] Set up auto renewal
## Post Installation
- [x] Decide on redirecting `

[2016-05-04 00:23] dcwalk opened #6 "Flesh out Deployment Documentation"
A few questions outstanding regarding how explicit we should be with documentation of our setup:
- [x] jekyll-webhook
- [x] webserver config
- [x] server monitoring
- [x] server backups
- [x] add `server.md` for tomesh.net to [service_setup](https://github.com/tomeshnet/documents/tree/master/service_setup)

[2016-05-10 01:23] benhylau opened #9 "Downloadable .ics for events"
1. Generate [.ics](http://apple.stackexchange.com/a/125526) from event announcement [collection](https://jekyllrb.com/docs/collections/).
2. Show [fa-calendar-plus-o](https://fortawesome.github.io/Font-Awesome/cheatsheet/) on the announcement and link to **.ics** file.

[2016-05-14 18:30] dcwalk commented on #9
Totally agree!

But I think we gotta start making use of posts for upcoming events, I think the announcement can/should be unmoored from dates in a way that the calender/events would want.

Is the plan for like everything thing we do as a group (incl. civic tech nights) up?

[2016-05-14 18:58] dcwalk commented on #9
Did a poke about, I think the [jekyll-ical gem](https://github.com/philtr/jekyll-ical) or this [gist](https://gist.github.com/woodworker/6725728) are a starting place!

[2016-05-19 23:11] dcwalk opened #12 "Fix cronjob for jekyll build"
Currently emails going to root daily, maybe we should stop spamming our admin.

I would suggest:
- [x] redirect output to `/dev/null`

[2016-05-19 23:54] garrying commented on #12
Should be fixed now. Please reopen if this is still happening.

[2016-05-19 23:54] #12 closed, assigned to nobody

[2016-05-20 16:19] dcwalk opened #14 "Add a license to our website and repo"
We should have a license indicated on our website before we start putting much more content up there.
Something like `(C) Toronto Mesh. Content and documentation licensed under XXX. 2016 Code licensed under XXXX."  They should be added to our repository as well!

My preference for **content** would be Creative Commons 4.0 ([CC BY-SA 4.0 International](https://creativecommons.org/licenses/by-sa/4.0

[2016-05-20 18:09] benhylau commented on #14
For code, I generally prefer GPLv3, and use Apache/MIT on a case-by-case basis if there is good reason for it. I feel GPL is appropriate for most of what we do here.

For content I am okay with CC 4.0.

[2016-05-21 23:06] #4 closed, assigned to nobody

[2016-05-24 17:37] dcwalk opened #16 "Update footer to have all our contact info (github and email)"
From @garrying PR #15 ...
![screen shot 2016-05-24 at 1 35 23 pm](https://cloud.githubusercontent.com/assets/4692834/15513914/9db54b26-21b4-11e6-9cfe-63cfeda57c8a.png)

I think we should pull the email into the footer.html file so that is shown on every page!

[2016-05-26 00:38] garrying commented on #16
Resolved in #15

[2016-05-26 00:38] #16 closed, assigned to nobody

[2016-05-26 13:54] garrying commented on #14
^ ignore my goof up'd reference

[2016-06-29 20:30] dcwalk opened #23 "Create a page to display all events"
This was broken off PR #13, would like to have a separate page where people can view all the events we have (currently only the 1-2 upcoming ones are shown on the front page).

[2016-07-23 13:14] dcwalk commented on #9
Oop, this was closed by #24... shoulda caught on merge.

[2016-07-23 13:14] #9 closed, assigned to nobody

[2016-07-23 13:19] dcwalk opened #26 "Pull important content from the documents repository to the website"
Picking up the conversation from PR #25:

Thoughts?

[2016-07-24 06:16] benhylau commented on #26
Yea have an **About and Contribute** with a link to: https://github.com/tomeshnet/documents/tree/master/meeting_notes

[2016-07-24 13:28] dcwalk commented on #26
Hey @daynaclowe, I know you had some thoughts about website structure. Maybe there is a way for us all to set up a time to talk about it? (tho I'll be remote until end of august)

[2016-08-01 12:16] dcwalk commented on #23
I think this would be a good one to tackle soon, especially as PR #25 moves its way forward (slooooow crawl), any takers?

[2016-08-12 13:44] dcwalk commented on #23
This is preliminarily addressed in PR #32 ! More work to be done but it'll get sorted soon.

Input please @garrying @benhylau or @daynaclowe on that whole PR. I can't make things look good 😢

[2016-08-13 01:42] benhylau commented on #26
We should prioritize this and put up a page or two that address **About** and **Contribute**.

**About** needs to address _what is_ and _why use_ a mesh. Much of that information has been written in various docs, they just need to be reorganized and formatted for website presentation.

**Contribute**
- [ ] Show current status (link to Wekan public read-only)
- [ ] Show where things are (how conten

[2016-08-13 12:11] dcwalk commented on #26
I agree this is a priority, but I'm not sure if all the stuff you mention belongs on the contribute (to that degree of specificity)... in particular the high-level direction & rough dates (I don't even know where those are anymore after the planning meeting. Do we have 'em?)

I think we can definitely get up a draft version and get it out once there is feedback, then iterate from there!

I'll have

[2016-08-13 20:40] dcwalk opened #35 "Add navigation and content to the website"
As @garrying pointed out in PR #32 there is no way to navigate back to the proposed Event Page from an individual Event. We gotta like add some IA to this website with the expanding content.

[edited out of date sitemap image out]

And we would need global navigation. These are pretty typical patterns for that...
<img width="784" alt="screen shot 2016-08-13 at 4 32 26 pm" src="https://cloud.github

[2016-08-13 23:26] benhylau commented on #35
I prefer **B** with single page nav like this: https://github.com/alvarotrigo/fullPage.js

[2016-08-14 12:37] dcwalk commented on #35
I'd love a single page, but I thought website/outreach  people were overall against it, especially given the grand plans we have for content.

@garrying or @daynaclowe I trust your web design skills over mine. Thoughts on IA/navigation?

[2016-08-16 00:50] garrying commented on #35
I'm partial to **B**. The single page nav pattern might work, but we haven't flushed out the requirements/intent of the homepage and I think there are other approaches we could look at and ideate around (maybe we can have an ideation session?). Having straight-forward content pages will seem a bit rigid to begin with, but it'll be readily visible to get feedback on for further refining/design.

[2016-08-19 22:38] dcwalk commented on #35
@garrying yes we need to hash this out in person. Looks like right now it'll be us discussing for the first iteration (and pushing a draft for comment before finalizing implementation...?)

I've incorporated @uditvira 's comments into a draft "contribute/join us", and there is a draft "about" linked from the [wekan card](https://wekan.tomesh.net/b/LWS8X7sGFXqDgZ7ag/tomesh-net/kxfGG5wEYDJxA3fp4).

[2016-08-29 23:39] garrying commented on #14
Closing with #33 merge.

[2016-08-29 23:39] #14 closed, assigned to nobody

[2016-09-08 18:36] dcwalk commented on #35
Here are some cleaned up mockups from a session with @garrying to think about website content/structure:

Please please feedback! Either here or in the [chat.tomesh.net #website room](https://chat.tomesh.net/#/room/#website:tomesh.net)

<img width="1255" alt="sitemap" src="https://cloud.githubusercontent.com/assets/4692834/18361795/5673d1a8-75d1-11e6-983a-e8268b46c995.png">
<img width="883" alt="t

[2016-10-20 13:46] dcwalk opened #45 "Remove announcement functionality"
We've removed the announcements from the homepage for now (in [this commit](https://github.com/tomeshnet/tomesh.net/pull/37/commits/e9c4e3102b804ee078d15d68c9874d9241721fed)) and intended to revisit whether we want the functionality once we launch the next version of the site.

Filing an issue so we don't lose the thread.

[2016-10-29 00:07] garrying opened #52 "Events page: Truncate upcoming events with show/hide more events"

[2016-10-29 00:28] dcwalk commented on #52
We've decided to move forward on the site with some identified issues from events page outstanding.
(Moved from Restructure:
- [X] Cannot see more than two future **Events**, perhaps a 'More' button?
- ~[ ] From what I remember, ~~the `ADD TO CALENDAR` button adds a static copy of all events.~~ (@dcwalk note: if you add the URL it updates) Perhaps we should have a small `+ .ics` button per event?~

[2016-10-29 00:47] garrying opened #53 "Events page: Grid items can underlap pagination buttons"

[2016-10-29 02:00] dcwalk commented on #35
Closing as this was implemented in PR #37 !

[2016-10-29 02:00] #35 closed, assigned to nobody

[2016-10-29 02:00] dcwalk commented on #23
Closing as this was implemented in PR #37 !

[2016-10-29 02:00] #23 closed, assigned to nobody

[2016-10-31 01:13] #53 closed, assigned to nobody

[2016-10-31 01:29] #6 closed, assigned to nobody

[2016-11-01 15:13] benhylau opened #58 "Handling of events with missing "locationMap""
For events like: https://tomesh.net/2016-11-03/virtual-mesh/

Clicking on the location link `#virtualmesh:tomesh.net` opens another tab of the page itself. I am guessing this happens when posts don't have a `locationMap` attribute. The behaviour is awkward, I think we should have it not as a link instead.

By the way, can `locationMap` be a virtual location? Or should we add another key to allow f

[2016-11-01 15:15] benhylau opened #59 "Cannot subscribe to calendar on Android"
Clicking on the button from Chrome on Android gives error **Unable to launch event**.

[2016-11-02 02:06] garrying commented on #58
Agreed on using virtual location. I think we can rename `locationMap` to something more general like `locationLink` and add the `chat.tomesh.net` room addresses to the entries we have so far. cc @dcwalk

[2016-11-02 02:25] dcwalk commented on #58
Totally agree, I actually did a clean of urls & location names in this branch:
https://github.com/tomeshnet/tomesh.net/compare/events-clean

Maybe we just switch over the `locationMap` frontmatter variable to `locationLink` and update the link on the events page for now and handle like that?

[2016-11-02 02:27] dcwalk commented on #59
I dropped some links into `#website` RE: how to look at this. I think idiom of 'click and subscribe' is wrong if we want people to add a url path to their calendaring app....

Would like a copy to clipboard a la how github allows you to clone repos make more sense?
(and from what I can tell that would have to be js and there is cross-browser, incl. mobile, support)

[2016-11-02 03:16] garrying commented on #58
Yeah. Doing the switch over sounds good to me.

[2016-11-02 13:06] benhylau commented on #59
Are we planning to have static per event .ics in addition to this, or just have this?

[2016-11-02 14:38] dcwalk commented on #59
We were still talking about a per event .ics and were discussing the best way to generate a per-event ics file. I think that is still on the table as a feature to implement

I've got no bandwidth for this at the moment. The website group was gonna have a standup on Mon Nov 14, not sure if it will be hashed out before then?

[2016-11-02 14:48] benhylau commented on #59
I don't think this or per-event .ics is urgent.

[2016-11-02 21:41] dcwalk commented on #58
This is addressed in #61 and ready for review

[2016-11-04 16:08] garrying opened #63 "Previous events grid not showing"
- offset 2 needs to be revised

[2016-11-08 21:01] #63 closed, assigned to nobody

[2016-11-08 21:27] #58 closed, assigned to nobody

[2016-11-13 21:14] dcwalk opened #66 "Add a timeline page to cover tomesh history"
We've created some [draft copy](https://pad.riseup.net/p/szcVQvcpfixX) for a **timeline page** here and discussed adding it to showcase the projects we are working on.

---

- Current working title (in main navigation): Timeline
- Create timeline Collection
- Timeline content: Small (Tweet-size), Medium (400 words?), Large (long-form)
  - Setup Front-matter to represent different sized content
  -

[2016-11-18 19:26] benhylau opened #69 "Instructions for Riot on mobile"
Use custom homeserver https://matrix.tomesh.net when using mobile clients

[2016-11-18 22:20] garrying opened #70 "Add Travis CI"
Reference: https://jekyllrb.com/docs/continuous-integration/

[2016-11-19 03:42] dcwalk commented on #70
I'm for it, but not a huge priority for me

[2016-11-19 03:43] dcwalk commented on #69
Good point, do you think it should go on the get involved page tho? Or should we link out to documents RE: configuration?

[2016-11-19 05:26] benhylau commented on #69
Get Involved page along side the web instructions, because lots of people go to tomesh.net through the phone and when they click the chat.tomesh.net it tells them to download the app. They'd need to know the matrix.tomesh.net custom homeserver URL then.

[2016-11-22 01:39] #70 closed, assigned to nobody

[2016-11-22 01:53] garrying opened #77 "Add Announcement Block"
Redesign announcements to be persistent block
  - Current idea: full-width block attached to the navigation bar, with short text and relevant link
  - Might need a different display for homepage
  - Question: Does it make sense an announcement to have a linkable page?
---
- [x] Add persistent announcement block if an announcement is present and in date range
- [x] Small viewport behaviour
- [x] St

[2016-11-22 01:54] garrying commented on #45
Coming back in #77

[2016-11-22 01:54] #45 closed, assigned to nobody

[2016-11-22 01:56] garrying opened #78 "Events: Overlapping columns and icons at ~597px viewports"

[2016-11-22 01:58] garrying opened #79 "Homepage: Revise Join Us Graphic"
Look into using illustration or other type of imagery. Consider looking for photos with more person presence.

[2016-11-22 02:00] garrying opened #80 "Homepage: Remove the Have More Questions section"
Considerations:
- Moving Have More Questions prompt to footer
- Replace Have More Questions with Timeline link and intro paragraph to lead into Timeline

[2016-11-22 02:05] garrying opened #81 "Button styles: Transition hover/active states & Typography"
Suggested to include subtle transitions on hover, active, and focus states.

[2016-11-22 02:07] garrying opened #82 "Better Body Typography"
- Possibly introduce sub-headings (brief, medium sized paragraph) to text-only pages to help frame content
- Sourcing images for content pages (?)

[2016-11-22 02:07] garrying opened #83 "Mention #welcome channel in Get Involved"
Copy should mention `#welcome` along with `#general`.

[2016-11-22 02:09] garrying opened #84 "Adding Transactions Page"
Coordinate with funding workgroup on implementation.

[2016-11-22 02:12] garrying opened #85 "Adding donate link/widget"
Related to #84

[2016-11-22 02:16] garrying commented on #69
@dcwalk Do you want to tackle this one?

[2016-11-22 02:26] dcwalk commented on #45
yeeee-aaah! announcements rise again :small_airplane:

[2016-11-22 02:29] dcwalk commented on #82
I'm a little unclear: is this typography or copy structure?

RE: length. I think we are keeping it pretty trim. We only have one page that comes anywhere close to long-form and it has 2 headings on it!

Do you feel like isn't readable?

[2016-11-22 04:48] dcwalk commented on #83
👌

[2016-11-22 04:48] dcwalk commented on #69
👌

[2016-11-22 04:53] dcwalk opened #87 "Add page for mini-conf"
Hoping to have these things for the conference, aiming to launch by December 1:
- [x] a page (maybe `tomesh.net/state-of-our-networks`) dedicated to the conference where a schedule, registration, location info etc... could go?
- [x] have some sort of registration (a form [ugh I know]) to collect basic registration details (we need to have a sense of workshop attendees)
- [x] redirect the event lis

[2016-11-22 05:07] dcwalk commented on #87
Redirects using this?
https://github.com/jekyll/jekyll-redirect-from

[2016-11-22 20:38] dcwalk commented on #83
Resolved via #86.

[2016-11-22 20:38] #83 closed, assigned to dcwalk

[2016-11-22 20:38] dcwalk commented on #69
Resolved via #86.

[2016-11-22 20:38] #69 closed, assigned to dcwalk

[2016-11-22 23:58] dcwalk commented on #87
RE: redirects...
https://github.com/jekyll/jekyll-redirect-from/issues/55
http://www.marran.com/tech/creating-redirects-with-jekyll/

[2016-11-23 14:06] dcwalk commented on #26
Hey, I wanna say we've addressed a good chunk of this:
- 'about' covers vision
- 'get involved' covers where we work and a first step to get online
- meeting minutes are linked from the event pages (which isn't super lovely, but exists)

The only thing missing is our working group leads in terms of _active info_

[2016-11-26 21:22] dcwalk commented on #87
I have a first draft of this for review in #92 which addresses all of the above!

[2016-11-27 00:47] garrying commented on #82
It was to do with both copy and typography when talked about. There are some inconsistencies with typography/layout that I'm hoping to address.

[2016-11-28 16:48] #81 closed, assigned to garrying

[2016-11-30 14:23] dcwalk commented on #87
I'm closing as we've got this live!

[2016-11-30 14:23] #87 closed, assigned to dcwalk

[2016-12-07 05:21] dcwalk opened #100 "Add indication that previous events have already occured"
I'm thinking something like a banner "This event is in the past" at the top of old events... could be handled as a conditional?

[2016-12-11 22:06] dcwalk opened #101 "Build Node Page: Add instructions on how to set up a mesh node"
Difficult right now to find how to get a mesh node up...

Thoughts:
- Make clear from 'get involved' and elsewhere on site what equipment we have
- Have instructions on the website? (currently: in [tomesh.101/tutorial](https://github.com/tomeshnet/tomesh.101/tree/master/tutorial), [groundupworks presentation](http://home.groundupworks.com:9090/#13)
- Separate page with instructions and hardware, u

[2016-12-11 22:11] dcwalk opened #102 "Do we want to have a blog?"
@garrying brought up that we have had moments where a long-form content would be lovely on the site:

- field testing
- benchmark results
- maybe even recaps from big events (makerfestival, attending HOPE)

[2016-12-11 22:39] garrying commented on #84
- depends on token api access
- we might need a middleware solution for transaction notes
- merchant setup is a good in-between solution to accept incoming funds for now

[2016-12-11 22:40] garrying commented on #85
A possible solution is using Quadriga's Merchant: https://www.quadrigacx.com/merchant_info

[2016-12-11 22:42] #26 closed, assigned to nobody

[2016-12-11 22:53] ana0 commented on #80
Today we discussed putting "build node" instructions in this block, which I have begun working on, but is open to revision

[2016-12-12 01:21] benhylau commented on #102
Definitely would like long-form content. Everything is hiding in documents repo atm

[2016-12-12 01:24] benhylau commented on #85
Also looking at https://stripe.com API

[2016-12-12 01:45] garrying commented on #101
Looking at this as well: https://github.com/tomeshnet/prototype-cjdns-pi2/blob/master/README.md

[2016-12-12 17:32] benhylau commented on #101
I would prefer keeping docs to the code repository itself, and have website link to it rather than duplicating information? Unclear parts can be clarified in the README.md itself.

[2016-12-13 02:00] garrying commented on #66
@slowmanchan We had a look at the timeline so far and there are a few things that we should consider for our next review:
- [x] Add in content from https://pad.riseup.net/p/szcVQvcpfixX to see how the content we have looks so far
- [x] Revise the blue and black colour combo. Maybe do away with the blue so that text is more legible?
- [x] Account for a title heading for a block (e.g. date, title, b

[2016-12-14 04:53] benhylau commented on #102
Post for Radical Networks talk by @garrying and @uditvira too :)

[2016-12-15 02:04] ana0 commented on #101
I'll wait on this for the time being for more discussion!

I understand the goal of not duplicating information and keeping the tutorial in an easy to update place for sure . . .  I suggested adding some "build a node" information to the main site because of my recent experience as a newcomer to tomesh - my first question when I came to the site was, "How do I build a node, what tools are they usi

[2016-12-15 04:53] benhylau commented on #101
@ana0 Your concern regarding information being buried is definitely typical. Many people have expressed this. All the info is buried in Wekan and various Github repo atm. I wonder if a **Projects** tab to feature the long-running projects is appropriate?

For example, sudoroom.org has a tab linking to their [list of projects](http://sudoroom.github.io/sudoRoom-Projects-Landing-page/). Maybe we can

[2016-12-16 19:53] dcwalk commented on #101
Hey, wanted to chime in on this:

1. I think having instructions all in one place is a priority, and we don't have that in practice. It could be github, but we aren't there in practice (VPN and Slidedeck for Peering come to mind). Do you see those going in the github readme @benhylau ? Because that is where I could see the value of a webpage, linking to the github for the repo then the Peering and

[2016-12-16 19:57] dcwalk commented on #102
My unreasonable dislike of blogs appears to have been holding us back this whole time ⚫️

I'm a no-block 👊 on the blog, with my main concern that an unmaintained blog looks worse than none at all.

[2016-12-16 20:02] dcwalk commented on #77
Announcement looks good 👌 @slowmanchan , but can we document in the readme and or create a template like we did for events? I think we are gonna seriously need to watch announcement length 😄

[2016-12-16 20:06] dcwalk commented on #66
Hey, looking good! I'm a little out of the code so leaving that to you two, the copy needs some refining I'm noticing. Also, what about images?

[2016-12-16 20:08] dcwalk commented on #66
Maybe this is silly, but could we have things like the ["Project Launched"](https://www.kickstarter.com/projects/uniondocs/living-los-sures/updates) in the kickstarter... a rectangle that breaks apart the line to draw focus on a key moment)

I'm imagining one for When we like officially call ourselves toronto mesh ( 🎆 :champagne:  )

[2016-12-16 21:16] benhylau commented on #102
Don't have to be a blog!

[2016-12-16 21:17] benhylau commented on #101
I was actually hoping to de-emphasize that :P as some may be interested in other parts? And it'd be nice to have more people involved in say... Website, Outernet, etc.

[2016-12-16 21:28] dcwalk commented on #101
Fair point 😄

[2016-12-16 22:10] benhylau commented on #66
May be easier to sit together during next virtual meet to finalize copy?

[2016-12-17 02:40] dcwalk commented on #66
I did a pass, formatted, made tense consistent, etc...  I think it looks 👌  for a first iteration where it is at, but would be nice to run through it at the check in like you say @benhylau

[2016-12-22 03:01] dcwalk commented on #52
Ongoing todos:
- [x] use `button` and aria
- [x] change button text depending on state (open or closed)
- [x] smoother transition on toggler

[2016-12-22 03:04] dcwalk opened #108 "Events page: Add a .ics button per event?"
Was discussed awhile ago as an improvement for events

[2016-12-22 03:26] garrying commented on #66
Looking at this on mobile and the menu is getting compressed. 1096d75 is a patch until we have a better design solution.

[2016-12-25 03:55] #52 closed, assigned to dcwalk

[2016-12-27 03:21] #66 closed, assigned to slowmanchan

[2016-12-27 03:26] garrying opened #110 "Update Instructions for adding timeline items and announcements"
Following up on #77

[2016-12-27 03:26] garrying commented on #77
Breaking out the documentation task to #110

[2016-12-27 03:26] #77 closed, assigned to slowmanchan

[2016-12-27 03:30] garrying commented on #78
Not reproducible

[2016-12-27 03:30] #78 closed, assigned to nobody

[2016-12-31 05:08] garrying opened #112 "Redesign small viewport menu"
Since the addition of _Timeline_ to the navigation (#106), the menu is not fitting items nicely. The temporary fix is to allow for horizontal scrolling. A suggestion is to update the nav to be a panel, invoked by a button. A few points to be mindful of:
- The new design pattern should only be visible at the `$on-palm` breakpoint
- Accommodates all menu items
- Hit areas of all menu items are at an

[2017-01-03 19:04] dcwalk opened #113 "Update our .ics to include URL in event description"
This issue was raised by @patcon, currently there is no quick way to visit the website page for an event based on the description we publish in our ics.

Would be great to include a link in our description.

@benhylau not sure if this is a CaLDAV or ics issue? (Assuming we should handle it in ics tho)

[2017-01-15 21:38] #112 closed, assigned to slowmanchan

[2017-01-17 10:15] dcwalk opened #121 "Update website to reflect outcomes of State of Our Networks"
I think there are a couple urgent things:

-  Indicate the event is passed on event page, similar to #100 (can this be handled with callouts? alerts? similar to bootstrap) (to be handled separately)
- [x] **Small write up!!**
- [x] update event with final bio
- [x] update timeline to include event
- [x] deal with media coming out of event (below)
  - [ ] CC 4.0 BY-NC-SA licensed on our accts

Pict

[2017-01-18 14:27] #113 closed, assigned to nobody

[2017-01-22 12:41] benhylau commented on #121
Can we serve the video over IPFS?

[2017-01-22 13:23] benhylau commented on #121
Glenn posted a bunch of other recordings: https://www.youtube.com/user/gcmcknight/videos?shelf_id=4&view=0&sort=dd

Some of them are of the same talk, let's clarify which ones we should host / archive? @JoshuaOpolko is the contact?

[2017-01-22 14:06] dcwalk commented on #121
He sent the link to me, I just pinged again RE: missing soundcloud file and status of the videos. the problem with video know is after the first 2 presentations they are cut off snippets :(

[2017-01-22 23:38] dcwalk commented on #121
Video and photos are okay to be released as CC 4.0, I'm proposing BY-NC-SA because these are peoples' likenesses (https://creativecommons.org/licenses/by-nc-sa/4.0/)

[2017-01-23 04:37] benhylau commented on #121
Audio files are okay

[2017-02-06 19:54] dcwalk commented on #121
@JoshuaOpolko You mentioned working on the A/V is there an update on those?

[2017-02-06 20:37] dcwalk commented on #121
Addressing in https://github.com/tomeshnet/tomesh.net/pull/127

[2017-02-06 20:37] dcwalk commented on #121
Small write up to live in docs repo until we get that feature added to the website.

[2017-02-06 20:40] dcwalk commented on #121
RE: media-- I do not believe will have access to video that is usable for all of the speakers so propose we go ahead with out it. We have photos (in addition to those I've taken), I followed up with Glenn RE: audio as it would be a shame to also not have that.

If I don't hear back I'm proposing we drop it and chalk it up to a lesson learned for next event.

[2017-02-07 06:37] benhylau commented on #121
Agree on dropping video. Should we host the image and audio files? Git, IPFS, ...

[2017-02-11 15:46] dcwalk commented on #121
Haven't heard anything further about media so closing this/dropping this. @benhylau -- please take a stab a throwing any up on IPFS and maybe into our docs repo as you see fit?

[2017-02-11 15:46] #121 closed, assigned to nobody

[2017-02-15 13:42] #110 closed, assigned to nobody

[2017-02-23 02:31] garrying commented on #100
#130

[2017-02-23 02:31] #100 closed, assigned to garrying

[2017-03-02 15:00] garrying opened #134 "Replace Font Awesome icons with SVGs"
A few points on moving towards SVGs: https://css-tricks.com/icon-fonts-vs-svg/

[2017-03-02 16:44] dcwalk commented on #134
Cool-- my sense is that font awesome/fonts are pretty quick and dirty. The only experience I have with SVGs involves using some sort of build tools/task runner... which seems like the biggest complexity drawback.

I've never heard of IcoMoon, which is mentioned in the article. How would you see the creating/generating workflow operating?

[2017-03-03 06:05] garrying commented on #134
I've only used IcoMoon for generating icon fonts and haven't tried their svg generator.

Thinking there is a way of doing it without adding too much overhead, or external external dependancies, in Jekyll. One idea I'm curious to try is creating an include that would embed an icon with a param to specify an svg file.

[2017-03-18 19:10] #134 closed, assigned to nobody

[2017-03-18 20:07] benhylau opened #137 "Listing of all Toronto Mesh projects"
I think the project information and possibly some way to communicate the skill sets each one needs would be beneficial to have on the website. It is currently still a challenge for new people joining the tomesh to discover projects, and eventually finding something that matches with their interests and skills. Here is a pad we have thrown together as an emergency answer to "what is the status and

[2017-03-21 02:29] garrying commented on #137
A list of projects would be helpful, but I have concerns about posting the entire list on the site and I wonder if we could bring some focus to projects that have momentum (at least as an entry point to other projects). In its current, cryptpad, state there is little describing each project which makes me think that this could take a bit of effort to put together and maintain its relevancy over ti

[2017-03-21 03:39] benhylau commented on #137
I am happy to write the content for the projects I am involved in. We can start with 6 most active projects, and link visitors to wekan for more. So this is more like a list of Featured Projects than a full listing.

[2017-03-21 14:43] dcwalk commented on #137
I agree with @garrying RE: focus and momentum being more important than a comprehensive listing. I'm also wondering if we might want to think through how and why people are getting interested and connect that to where we put the information.

For instance -- I'm not sure the Wekan is getting much use, but we have much (all?) of this information there. Is there a way to connect better the places we

[2017-03-22 02:10] benhylau commented on #137
I think Wekan is okay to keep track of stuff for people already familiar with the project. For someone new, it's very hard to navigate that space. Things are presented without emphasis on most active / critical projects.

[2017-03-24 21:27] dcwalk commented on #59
Just want to circle back on this -- We can add the URL path (e.g. `https://tomesh.net/events.ics`) _as a URL_ to a calendar and it syncs.

My comments RE: JS are about copy-pasting to clipboard for someone to add that URL as an external calendar to their phone.

The other approach, a click-to-download a static version of the ICS appears like it could be addressed in sync with #136

[2017-03-28 01:54] garrying commented on #59
This may have been resolved with a recent addition of `text/calendar ics` in `mime.types` for NGINX. I'm lacking an Android device to test with. So far it works on iOS.

[2017-03-28 21:08] dcwalk commented on #59
Just tested on Android and I'm getting the option to download or open in calendar.
If downloading I am prompted to open it with calendaring apps as well.

[2017-03-28 21:14] dcwalk commented on #59
To my old (old) point -- before we move to a caldev implementation do we want people to have a (somewhat) sync-able calendar?

I think the "copy this url" pattern similar like GitHub's:
![screen shot 2017-03-28 at 5 12 20 pm](https://cloud.githubusercontent.com/assets/4692834/24427682/de1ffce8-13d9-11e7-908d-b00b78a6dd35.png)
might be the best way to accomplish that if so.

Otherwise once someone

[2017-03-28 22:57] benhylau commented on #59
If we can get a syncing calendar without caldav I'd rather not use caldev and have another piece to manage.

[2017-07-22 17:54] dcwalk opened #150 "Switch to using Bundler and Gemfile"
Could we switch to using Bundler and a Gemfile?
That feels more current with current Jekyll practices (e.g., https://jekyllrb.com/docs/quickstart/)

[2017-07-22 18:44] dcwalk opened #151 "Add map of active and prospective nodes to site"
Working from @darkdrgn2k's map codebase (currently accessible at http://map.tomesh.net):
https://github.com/darkdrgn2k/TOMeshNodeMap

We want to have:
- [x] Finalize Schema
- [x] Commit Initial Node List
- [x] new page for map (available at `/map`)
- [x] add Map to global navigation

[2017-07-22 18:48] dcwalk opened #152 "Do we want secondary navigation for About, Get involved?"
Do we want to add in secondary nav in order to:

About:
- add timeline under about
- add code of conduct to top nav
- make meeting notes and governance docs more present on site

Get Involved:
- surfacing current projects under get involved (like hardware! prototype node!)

[2017-07-22 18:56] dcwalk opened #153 "Update Global Navigation"
@garrying, @darkdrgn2k, @Shrinks99 and I discussed how the the global nav needs to be updated to account for the map, but also wanted to revisit it more generally (see #152).

Thoughts:
- [x] Add map to global nav (see also #151)
- [ ] (potentially) remove Timeline
- [ ] (potentially) remove Contact
- [x] discuss secondary navigation

Potential order:
` About | Map | Events | Get Involved | Contac

[2017-07-22 19:01] dcwalk commented on #151
Other notes about the map:
- Using google api
- node data coming from a json (node-list GitHub)
- submit from the map interface (using a form! backend: submit PR to node list)

For stage 1 we'll not spend time optimizing for monitoring needs.

Stage 2:
- Hooking in with monitoring functionality
- "status" in a broader sense:
  - online?
  - last seen
  - node peers

[2017-07-22 19:14] dcwalk opened #154 "Revisit Look and Feel"
@Shrinks99 is interested in updating branding, finalizing a logo (yay!).

Preliminary thoughts from our discussion:

- [ ] Colour palette
- [x] Distinguish footer (maybe different footer?) (possible PR #179)
- [ ] Add more graphics throughout

[2017-07-23 04:46] darkdrgn2k commented on #151
Submit PR request may be harder via api the first thought
https://developer.github.com/v3/pulls/#create-a-pull-request
Seems you need to first commit the change to an GitHub branch tree before you do a pull request

So the way i see it to hook it from a form the form would need to

1) Create a branch
2) Update the json in that branch
3) commit that branch
4) create a commit request against the bra

[2017-07-23 04:52] darkdrgn2k commented on #151
Work is being done to integrate the existing code base into the tomesh site

Working tree for the map is located at https://github.com/darkdrgn2k/tomesh.net/tree/Map

- [x] Added map as /map
- [x] Added to global nav

Just working some loose ends, formatting
Current path for nodes is https://github.com/darkdrgn2k/node-list/master/nodeList.json
- [x] Commit node list to https://github.com/tomeshnet

[2017-07-24 13:51] dcwalk commented on #151
Nice!

Just to transfer over @garrying 's comment from our chat -- this work has been merged into the [`Dev` branch](https://github.com/tomeshnet/tomesh.net/tree/Dev)

[2017-07-24 19:28] dcwalk commented on #154
Just commented in #157, but thought I should also mention here -- I think it might make sense to tackle this in phases over a few PRs, sorry if this initial issue was poorly formed (aii!)

[2017-07-25 00:03] #150 closed, assigned to nobody

[2017-07-25 04:20] darkdrgn2k commented on #154
Split the Hanks pr into two prs

~~Blue Color in #160  (not passing Travis??!?!)~~ Deffered
~~Logo~~ and ~~Front Page Image #159~~ Already committed logo differed

I have also added a few prs  for your consideration
~~#161 Parallax feel to the hero image on front page~~ I think its been decided no
~~#162 Keep the top nav menu at the top during scroll~~ Committed to Master

[2017-07-25 04:25] darkdrgn2k commented on #102
+1 on dcwalks comment

From experience a blog are fine untill they are no longer posted to.... To many blogs exist with the last post have not been updates  in years and make the site look like a ghost town!

With the collaboration angle being to use git, perhaps just a way to nicely organize and link to the git content from the site would work better?

[2017-07-26 00:51] benhylau commented on #102
Since everyone seems to prefer no blog, and we have already addressed all items in the original issue with https://github.com/tomeshnet/documents/tree/master/technical and https://tomesh.net/timeline/ I am closing this issue.

[2017-07-26 00:51] #102 closed, assigned to nobody

[2017-08-12 19:33] #108 closed, assigned to nobody

[2017-08-13 17:40] darkdrgn2k commented on #151
@dcwalk @Shrinks99 @garrying Thoughts on pushing nodeList.json into node-list so it no longer references my git hub?

PR for initial Node List at tomeshnet/node-list#6

[2017-08-13 20:17] dcwalk commented on #154
All the above PRs were reviewed at the design jam Aug 12.

@garrying, @Shrinks99 and I hashed out a consensus on the next steps:

- pull in #162 (edit: now #165) now
- cherry pick the map from #159, but leave the logo work for now
- close #160 and more that work directly to the [`look-and-feel-update`](https://github.com/tomeshnet/tomesh.net/tree/look-and-feel-update) branch. Overall progress will

[2017-08-15 13:14] dcwalk commented on #85
What about using Librepay + a seperate Bitcoin Address? e.g. https://en.liberapay.com/matrixdotorg/

That seems like a feasible first attempt to iterate on instead of setting ourselves up on stripe?

[2017-08-15 13:15] dcwalk commented on #151
Agree @darkdrgn2k! I left my comments there :)

[2017-08-17 04:08] darkdrgn2k commented on #152
If you do want to add submenus, here is some CSS i wipped up to get you started

This will add the ability to easily add css hover menus into the current menu of the site
https://github.com/tomeshnet/tomesh.net/compare/master...darkdrgn2k:DrowDown-Menu

Example adds sub menus to Contact menu items but same concept can be used for any other item

[2017-08-23 16:42] Shrinks99 commented on #80
This section was removed from the look and feel update branch as part of the homepage update

[2017-08-23 16:42] #80 closed, assigned to ana0

[2017-08-23 17:37] Shrinks99 commented on #152
## Proposed Menu Structure

- About
  - Timeline
  - Code of Conduct
- Events
- Get Involved
  - Build a Node*
  - Join the Network*
- Map*
- Contact
  - Twitter
  - Email
  - Riot
  - Github

Contact could also possibly be removed.

&ast; Indicates future pages

[2017-08-23 17:44] Shrinks99 commented on #153
See #152

[2017-08-23 18:07] darkdrgn2k commented on #152
https://matrix.tomesh.net/_matrix/media/v1/download/tomesh.net/HSafbhgeajeIDNgFWfnySNCg

[2017-08-23 18:58] darkdrgn2k commented on #153
see #152 for possible solution to reworking global nav

[2017-08-23 19:11] darkdrgn2k commented on #152
see #169 for new Build A Node page

[2017-08-26 13:39] darkdrgn2k commented on #151
PR Committed  tomeshnet/node-list#6 with official node list

Now waiting on final review/add of

- [x] Updated Look/Feel of map with @Shrinks99
- [x] Align Map to new Schema
- [x] Decision on Add a node (Since PR are trickier all reference of "add node" currently removed and replaced with "here is the json of your node for your reference"

[2017-09-03 14:45] darkdrgn2k commented on #101
the BUILD A NODE page has now been mearged #169 that will pull the prototype readme file.

[2017-09-03 22:32] dcwalk opened #175 "Link to "Build A Node" page"
it would be awesome to link to the new page from #169: https://tomesh.net/build-a-node/

[2017-09-05 19:01] dcwalk commented on #80
Awesome! The only thing I would say is we tend to close issues once the code is live, and I think this is still on a dev branch :)

[2017-09-06 02:54] #151 closed, assigned to nobody

[2017-09-06 04:35] darkdrgn2k commented on #175
#172 would solve it with Sub Menu navigation
#173 also slated to include it as a first page icon

[2017-09-06 12:56] dcwalk commented on #151
🎉

[2017-09-08 01:25] garrying commented on #153
Updated in #172

[2017-09-08 01:25] #153 closed, assigned to garrying, dcwalk, Shrinks99, darkdrgn2k

[2017-09-08 01:28] garrying commented on #152
Closed with #172

[2017-09-08 01:28] #152 closed, assigned to garrying, dcwalk, Shrinks99, darkdrgn2k

[2017-09-08 02:49] darkdrgn2k commented on #175
With the commit of #172 this issue is now resolved :)

[2017-09-08 02:49] #175 closed, assigned to nobody

[2017-09-08 03:17] darkdrgn2k opened #178 "New Page - Join the Network"
Create content for "Join the Network" parent of Get Involved page referenced in #152

[2017-09-08 03:26] #101 closed, assigned to ana0

[2017-09-13 21:18] darkdrgn2k commented on #178
What should "Join the network" be all about?

[2017-11-24 01:02] garrying commented on #82
There isn't a solid plan for this. Closing for now.

[2017-11-24 01:02] #82 closed, assigned to nobody

[2017-12-27 15:12] dcwalk opened #198 "Add newsletter sign up to website"
Loooong ago we set up a tinyletter as a first step as a one-way "announce" style mailing list for tomesh events and news.

Talking with @benhylau I've recently re-visited, and happy to share access (pls) to at least a few people, will shortly PR documents with details.

We should also add to the website as a signup!

cc @darkdrgn2k as I know you've mentioned one in the past!

[2017-12-27 15:29] darkdrgn2k commented on #198
👍 Might help keep in contact with people that dont like the chat/dont check the website

Also sometimes people don't have time and and leave a project. This could be a constant reminder for them that were still around if they ever have cycles to provide back to the project :)

[2018-04-02 00:12] darkdrgn2k opened #207 "Map add node workflow"
The button is to allow a manual marker. Alternative methods of adding  a marker are to search for an address or to use browser gps positioning which are accessible through buttons above the manual button

Perhaps it's a design flaw that it's not understandable or maybe instructions?
@Shrinks99 thoughts?

Do we have an idea of what we want node names to be?

**Additional Bug Fix**:
- [ ] css id `cu

[2018-04-20 13:11] darkdrgn2k opened #211 "Live Map Status"
Outlines tasks that need to be done to add Monitoring information to the website map

- [ ] Add CJDS to server (Docker container?)
- [ ] Run Pinging script on server to generate json file
- [ ] Run Walker script on server to generate json file
  - [ ] Finish rewrite of walker script in python
- [ ] Host Prometheus Server and Grafana
- [ ] Display information on map (MapMonitoring-Links branch)

[2018-05-18 18:25] benhylau commented on #211
Pre-req: https://github.com/tomeshnet/node-recipes/issues/1

[2018-05-22 20:45] benhylau opened #215 "Improve onboard experience"
Proposing the following changes on website to give a better onboard experience:
- [x] Add a project page with links to specific Matrix chat rooms (Matrix _is_ the primary way we are using to coordinate, we should make that clear)
- [ ] Have some text that answers the questions: what is a node, can I host one? even if it's not a simple "this is a node it's 50 bucks and you can point the antenna the

[2018-05-22 20:57] Shrinks99 commented on #178
This issue should probably be closed as we don't have a "user ready" network to join yet.

[2018-05-22 20:58] Shrinks99 commented on #154
Closing this issue, a new website redesign will be addressed after the eventual rebrand.

[2018-05-22 20:58] #154 closed, assigned to Shrinks99

[2018-05-22 21:00] Shrinks99 commented on #79
We added the Stamen Design map in favour of the old one, pretty sure this should have been closed back then.

[2018-05-22 21:00] #79 closed, assigned to nobody

[2018-05-22 21:20] benhylau commented on #215
We may also want to:
- [ ] Have a page that lists public in-mesh services people run, such as Grafana dashboard, cjdns public peering, ipfs gateway, ssb pub (now these are copy and pasted across Matrix chat)
- [ ] Make visible long-form content such as https://github.com/tomeshnet/documents/tree/master/technical

[2018-05-22 22:46] #178 closed, assigned to garrying, benhylau, dcwalk, Shrinks99, darkdrgn2k

[2018-06-06 22:53] Shrinks99 commented on #59
Closed #142 (should have closed this a while ago! :P )

[2018-06-06 22:53] #59 closed, assigned to nobody

[2018-06-06 23:28] ericawright opened #217 "Remove Contact Page / Social Icons In Header"
- Remove contact page
   - Redirect to home page
- Put an icon for each option that was removed in the header

[2018-06-07 00:25] benhylau opened #218 "Immediate fixes to Map"
- [x] Add `Under Construction` disclaimer to map, should take the form of a small banner
- [x] Fix "add a node" UI
- [ ] ~~Link from `Monitoring` project~~

[2018-06-07 00:29] benhylau opened #219 "Move content for Blog page"
Move https://github.com/tomeshnet/documents/tree/master/technical content to this repo as a blog-form page:

- [ ] Move technical content and public facing long form content to this repo from documents
- [ ] Fix internal links
- [ ] Remember to move images

Keep in mind we will host this site on IPFS and DAT as well.

[2018-06-07 04:44] benhylau opened #220 "Project page content"
At the website planning meeting we agreed to add a Project page. Each page will include the following:

* Name
* Description
* Visual aid
* Skill card (what skill sets is needed by this project)
* Project state (is this thing solid or super early stage and barely functional)
* Links (e.g. GitHub, Matrix channel, etc.)

This ticket will track the content that needs to go into this Project page. Som

[2018-06-13 03:27] #84 closed, assigned to garrying, benhylau

[2018-06-13 03:30] Shrinks99 opened #221 "Toronto Mesh Tagline Change"
The tagline Under the main "Toronto Mesh" text on the homepage (currently "We are building a mesh network in Toronto") should be changed to better represent the current status of the organization.

EDIT: This is resolved in https://github.com/tomeshnet/tomesh.net/pull/241!

[2018-06-13 03:43] Shrinks99 opened #222 "Projects Page"
A new page that details the current projects the organization is working on / has completed.

Each project is an item that can by used in some way / interacted with by somebody.  Projects are not goals or general sentiments of the organization.  "Increasing technical literacy" is not a project, "Building the Peer-to-Peer Internet Workshop, a downloadable set of materials allowing presenters to run

[2018-06-13 03:49] Shrinks99 opened #223 "Redistribution of Contact Information"
- [ ] The dedicated contact page will be redirected to the home page and result in a 301 upon visiting /contact

- [ ] Add social / contact icons in the nav bar (Twitter, Email, Riot, Github)

- [ ] Place IRC chat info solely in the footer

- [ ] Change the # icon to the Riot icon where applicable, stick to the # for IRC

[2018-06-13 05:08] benhylau commented on #222
Related https://github.com/tomeshnet/tomesh.net/issues/220

[2018-06-14 02:17] Shrinks99 opened #224 "Blog Page"
This page will feature multiple blog entries written and posted as .md files.

### Each Post Must Display...

- The title of the post
- The date posted
- The content

### What to decide on

- How many posts per page?
- Can we even do multiple posts per page?

[2018-07-30 22:07] benhylau commented on #220
# Project Page

* Title
* Short Description
* Current Status
* Skills Required
* Graphic
* Link

## Meshstream

The purpose is to show what can be accomplished with peer-to-peer applications running over a wireless mesh network that is completely isolated from the Internet. Meshstream demonstrates: live video streaming over content addressable storage (IPFS), sharing of multimedia content over a p

[2018-07-30 23:48] Shrinks99 commented on #220
Great work Ben!

My thoughts on Project Types

I think we should come up with a name for our mapping and monitoring system and rename Network Deployment to "Toronto Meshnet" or a similar term.  The Projects page is a really clean way to link people to the productized things that we do and I would also argue for the restructuring of "Provisioning Infrastructure" because of this.  It's definitely a

[2018-07-30 23:57] benhylau commented on #220
+1 for better names as needed, even `Prototype` is a bit confusing.

re: how to represent the data, I leave that as the designer's job. These are the current statuses from my perspective, how do we convey it best? Perhaps a badge system is sufficient granularity for website, and the detailed status better belong to the project Github. I leave this decision to the designer / hypothetical content or

[2018-08-05 22:09] dasanchez commented on #220
Re: Naming-
_Network Deployment_ -> _Toronto Meshnet_ - agreed
_Provisioning Infrastructure_ -> _Tomesh Community Assets_ maybe?
_Prototype_: How did you arrive at *Mesh Orange*, @benhylau? I wouldn't mind giving the _Prototype_ project a proper name, like _Raccoon_, _Little Brother_, or what-have-you. Whoever has worked on it should be able to name it though.

I like @Shrinks99's system for assig

[2018-08-05 22:30] Shrinks99 commented on #220
@dasanchez I'd like to see more than just a simple Markdown text page for the projects page eventually however that may come as part of a full website redesign and be outside of the scope of the content restructure.  Thoughts?

[2018-08-05 22:36] dasanchez commented on #220
_more than just a simple Markdown text page for the projects page eventually_
Yup, agreed. I like the "eventually".
I say let's publish a (rather impressive) list of projects first, and make it "pop" afterwards :wink:
Whether this page gets the design treatment by itself or as part of a full website redesign...I think I'm ok with either.

[2018-08-05 23:50] Shrinks99 commented on #220
I would rather leave it to the re-design.  Less work that needs to be done twice!

And you BETTER BELIEVE IT'S GONNA **POP**!!

[2018-08-07 05:20] benhylau commented on #220
When is redesign happening? If it's October, I like @dasanchez's idea of having this up sooner as a lot of people are asking. If it's September we can probably wait? In my mind, I think two things are higher priority than redesign:

1. Update Mission Statement
2. Project page

In general, I like frequent releases to keep things moving, rather waiting on an eventual big release, as long as the form

[2018-08-07 18:12] Shrinks99 commented on #220
Redesign has no date, put this up first.

[2018-08-09 23:46] dcwalk commented on #220
Hey, I don't feel like it makes sense list Our Networks here as a project of Toronto Mesh that is also soliciting/listing skills.

We had this discussion when we moved the stuff out into a separate repo and set up a separate organizing and planning structure-- I'd prefer to keep that planning and coordinating in one place

[2018-08-10 01:24] dasanchez commented on #220
OK I will leave Our Networks off the list @dcwalk!

[2018-08-10 21:55] benhylau commented on #220
My bad, meant to check in with @dcwalk on how/whether we want to feature Our Networks when I wrote the page. And then I forgot :)

[2018-08-24 22:13] #220 closed, assigned to benhylau, dasanchez

[2018-08-24 22:13] #222 closed, assigned to garrying, benhylau, Shrinks99

[2018-08-24 22:50] dasanchez opened #229 "Projects page adjustments"
From @darkdrgn2k:
For "skills": Add something like "documentation writing", "proof reader" and/or "code reviewer" to most of the tech stuff (prototype mesh orange etc)
"Flashing routers" is not really needed for mesh stream

[2018-08-25 12:18] benhylau commented on #229
I see code review as part of software expertise since it's the same people who write and review? It's regular development process not a specific role. Proof read is part of technical writing similarly.

For Meshstream flashing LibreRouter is necessary. It's not an intuitive thing to do for most people.

[2018-08-25 13:35] darkdrgn2k commented on #229
It was required only because we where using a prototype of a device that has not yet been released.  This is why flashing using uboot was necessary.

I don't think we will be getting anymore device and librerouter would never expect their users to even know what u boot is.  Therefore i don't think that having the skill to low-level flash routers is a requirement to work on mesh stream. Only time y

[2018-08-25 14:54] benhylau commented on #229
Okay we can drop that. The _current_ instructions definitely need that though.

[2018-08-29 17:00] dasanchez opened #230 "Mesh Picnic Event"
I am opening an issue to start a discussion around the Picnic event- if anyone can suggest a better place for this, I'm all ears 😄

Here is what we have discussed so far:

## Mesh Picnic

Date: 2018 September 29
Time: 13:00-16:00
Location: FreeGeek and the adjacent courtyard

### Attendees
- @dasanchez
- @ryan-fgt
- @darkdrgn2k
- @makeworld-the-better-one
- @garrying
- @dcwalk

### Activities

**I

[2018-08-29 17:31] ryan-fgt commented on #230
Everything for the computer breakdown can be supplied by Free Geek. We have cameras and computers available.

Also have some extension cords as well.

[2018-08-29 17:54] darkdrgn2k commented on #230
# Proof-of-concept "long-range" connection

## Revision 1
Feed back welcome

![image](https://user-images.githubusercontent.com/29005789/44805170-7ff26600-ab91-11e8-9ac5-be99ea08bff8.png)

- Existing node at Free Geek configured to be internet exit node
- CJDNS Node attached to LiteBeamAC on Free Geek end
- LiteBeamAC Antenna on tripod in FREE Geek Window
- LiteBeamAC in Lisgard Park on tree or mo

[2018-08-29 17:57] makew0rld commented on #230
I should be able to go. As for the IPFS demo, I can definitely lead that, I'll start programming it soon. I plan on using python with a webserver (probably flask), and creating a site where you can upload a file, which will then be added to IPFS, and broadcast over IPNS with pubsub. A second site on a second node is continually refreshing that IPNS key, and when the content changes from the last t

[2018-08-29 18:12] ryan-fgt commented on #230
@makeworld-the-better-one We've got lots of different power bars and extension cords so we should be good.

[2018-08-29 18:33] makew0rld commented on #230
Also, I wonder if it might make sense to suppress the Access Points of the other nodes not providing internet to make the UX easier. If the demand is too much, then maybe we want one or two others, one for the IPFS demo perhaps. Is there an easy way to temporarily turn off node APs? Should just be something like `sudo systemctl stop hostapd` right?

[2018-08-29 19:46] dasanchez commented on #230
@darkdrgn2k that setup diagram looks great! That's pretty much how I had modeled it in my head.
Re: people available to talk to the passersby- we can put the IPFS demo on hold while we do the long-range test, that way both @makeworld-the-better-one and I can be there to answer questions.
I like the idea of a live feed outside that the people at FreeGeek can access- as long as it's not too much has

[2018-08-29 20:12] makew0rld commented on #230
@dasanchez We can put it on hold while internet being **set up** right? After that everyone that was helping set it up will be available to help as well. I think it's good to run multiple demos at the same time, ie internet and IPFS.

You're giving me too much credit :stuck_out_tongue_winking_eye:. I was just thinking a simple upload interface, with a display interface on another node. If I have t

[2018-08-29 21:15] darkdrgn2k commented on #230
If we have enough people the outside node being the "bait" for them to be directed inside.

I don't see it being a big problem to deploy. Another idea is to reverse it.  Stream inside free geek out into the park to get people interested whats inside? I dont know.

Canada Computer is all v2 and v3 for the 3 stores i checked so no joy there. I have a bunch of the Workshop dongles as well as my stock

[2018-08-29 21:29] darkdrgn2k commented on #230
There wont be allot of APs providing internet outside.  I'm also was not planning on using a pi there but rather have a bit bulkier access point that can have a decent range. Regardless outside wont be an issue.

Are you thinking of having internet inside as well?

[2018-08-29 21:29] ryan-fgt commented on #230
One idea - should everyone speaking to the public should wear a similar mesh-related t-shirt?

If people don't have one of those, I could lend them a Free Geek t-shirt for the day. Matching clothing gives a sense of legitimacy,

[2018-08-29 21:38] darkdrgn2k commented on #230
Just a reminder that internet is "opt in" on cjdns so this will not be a problem :)

We doing any hands education component (ie workshop) or just an interactive exhibit ( this will determine number of pis needed)

[2018-08-29 21:56] makew0rld commented on #230
Ohh. In my mind this demo was outside, but yeah inside is probably much easier. The internet outside can be just proof-of-concept and "bait" as you said. Makes sense.

[2018-08-29 22:35] darkdrgn2k commented on #230
We have to be careful what we are organizing "outside" as its a public place and needs permits.

[2018-08-29 22:58] makew0rld commented on #230
What about the courtyard right outside FreeGeek? Who owns that? Also, if we are part outside, but mostly inside, we need to have at least 2 people one "outside duty" the whole time to attract people, run the internet demo, and corral people inside after that.

[2018-08-30 01:07] ryan-fgt commented on #230
We're okay in the small parkette right out front of Free Geek if we stick primarily to paved part. We can be on the grass as well, just not take up all the space.

[2018-09-02 20:15] garrying commented on #230
@dasanchez I plan on attending if this is the start of RSVP. I can bring 2 Raspberry Pi 3 B's, and 4 of the TP-Link WN722N USB adapters if they are still needed.

[2018-09-02 21:05] dasanchez commented on #230
Thanks @garrying! Yes, please bring your hardware- we can put the Pis and USB adapters to use in the IPFS demo.

[2018-09-03 16:13] darkdrgn2k commented on #230
depends what we are doing for the demo.

we doing a work shop. then we need more pis

[2018-09-04 21:16] ryan-fgt commented on #230
Can I start promoting this event? Just basic details
- Date/Time
- Location
- Who - Toronto Mesh & Free Geek Toronto (maybe other orgs if I can get them there)
- What - show off all the interesting things we're doing - very vague so if we only have a simple demo going no one is disappointed.

Is there a tomesh logo I can use?

[2018-09-04 21:32] darkdrgn2k commented on #230
we don't have a logo really but all our logos are http://Github.com/tomeshnet/design

[2018-09-04 21:46] makew0rld commented on #230
I've also seen this associated with us, it's the channel logo at least: https://thenounproject.com/search/?q=mesh&i=74809

[2018-09-05 00:54] dasanchez commented on #230
@ryan-fgt yes, go ahead! I think the above list covers what we will be doing:
- IPFS Demo
- Long-range Connection Test
- Computer Breakdown
- FreeGeek Sale

Re: Logos- @makeworld-the-better-one linked to the one we use on the website, and you can also use the [city hall one](https://github.com/tomeshnet/design/tree/master/current-assets/toronto-mesh-stickers).

@darkdrgn2k You mentioned a workshop

[2018-09-05 00:58] makew0rld commented on #230
A demo of SSB and/or Aether with two laptops was also mentioned, although I guess that shouldn't go on the poster since it's still a maybe.

[2018-09-05 03:51] darkdrgn2k commented on #230
The long distance test, once up, does not need babysitting.  I guess we can play it by ear if people would be interest in a work shop i can run it. I really don't know what to expect as far as what kinda of people will be coming in. If there is enough interest i can run one if needed.

@dasanchez if this is a go maybe add it to the events of the website?

[2018-09-05 11:20] dasanchez commented on #230
@darkdrgn2k indeed! I'll submit a PR to add the event to the website.

[2018-09-05 12:06] dcwalk commented on #230
I'll be there too!

I'm wondering if this might be an opportunity to coordinate an order of the panda "T" mate / club mate with myles if anyone is interested? I think it has to be a couple cases for it to be wholesaleable!!

I'd be able to buy one

[2018-09-05 13:55] dasanchez commented on #230
@dcwalk thanks, I wouldn't mind having some club mate available! Let me know how much it is for a case

[2018-09-08 12:15] dasanchez opened #231 "Code of Conduct Monitoring"
Dawn and Anastasia are still mentioned in the Code of Conduct as the monitors. Per our last planning session, @Shrinks99 and @benhylau are currently responsible for this.
Should I link to your Github profiles instead?

[2018-09-10 06:04] Shrinks99 commented on #231
Yes, that would be a good thing to update.

[2018-09-11 01:41] darkdrgn2k commented on #230
Time to think about promotions!

- [x] tomesh site
- [x] tomesh Twitter
- [ ] outnetworks twitter retweet
- [ ] maybe poster @ Free Geek
- [ ] put up posters around each of our neighborhoods
- [ ] post on mastodon / scuttlebutt / reddit

[2018-09-11 11:31] makew0rld commented on #230
- put up posters around each of our neighborhoods and around free geek
- post on mastodon / scuttlebutt / reddit

[2018-09-12 09:13] benhylau commented on #230
@garrying @dcwalk can you help with twitter promo on both?

[2018-09-12 13:59] ryan-fgt commented on #230
re: promo, the event has been posted on Free Geek's internal messaging service, will be in this quarter's newsletter, and on our social media channels starting later this week.

I've also reached out to other similar organizations to send it out to their membership (HackLab, Toronto FreeNet, etc.)

Oh, and we created an eventbrite page (which, if you can see my comment history, I haven't been able

[2018-09-20 07:00] santhoshnp opened #233 "Mesh Point Interface ....... [INACTIVE]"
![screenshot 71](https://user-images.githubusercontent.com/39831264/45801232-e706c480-bcd0-11e8-9adb-8c17e81d90d5.png)

[2018-09-20 07:00] santhoshnp commented on #233
How to activate mesh interface

[2018-09-20 07:33] benhylau commented on #233
Wrong repository, replying on prototype repo.

[2018-09-20 07:33] #233 closed, assigned to nobody

[2018-09-20 10:52] santhoshnp commented on #233
so which one is correct repository. give some solution for me and please help me

[2018-09-20 19:19] benhylau commented on #233
I already replied you here https://github.com/tomeshnet/prototype-cjdns-pi/issues/211
The repository where you got the code from is the correct repository to file the issue.

[2018-09-24 16:02] #231 closed, assigned to benhylau, Shrinks99

[2018-09-28 00:20] dasanchez commented on #230
I'll get to FreeGeek before noon to help set up.
I'm bringing cookies and a cooler to put some of the drinks in.

[2018-09-28 00:23] dasanchez commented on #230
@ryan-fgt great job with the [Eventbrite page](https://www.eventbrite.com/e/technology-picnic-with-toronto-mesh-tickets-50024316076?aff=ebdssbdestsearch)! Did you get a lot of hits?

[2018-09-28 17:14] dasanchez commented on #230
I'm thinking of printing a few of these (two a page) to hand out...what do you all think?

![picnic-flyer-8 5x11](https://user-images.githubusercontent.com/2331903/46223110-6a06cb00-c320-11e8-8a56-5a27d543ea01.png)

[2018-09-28 17:51] ryan-fgt commented on #230
This looks great!
---
Ryan Fukunaga
Executive Director, Free Geek Toronto
180 Sudbury St | Toronto, ON | M6J 0A8
Main: 416-572-3737 | Direct: 647-673-2701
freegeektoronto.org

On Fri, 28 Sep 2018 at 13:14, Dante <notifications@github.com> wrote:

[2018-09-28 18:03] makew0rld commented on #230
Looks great, good idea! I would add something about manyverse being a scuttlebutt mobile version, and also a link to Aether's site, since it's coming out soon. As we talked about, removing beaker browser but putting links to Zeronet or Althea might be something to consider. We could also just not have either of those, and just stick to the stuff we demo. 👍🏽

[2018-09-28 18:24] dasanchez commented on #230
Thanks for the input!

I'll add a note to link Manyverse to SSB.
Good point about only listing the services we are actually demoing! I'll take Beaker Browser off.
I debated putting Aether in the list, but the website only says v1 is deprecated and v2 is being worked on. And just like Beaker, I'm not ready to show it off (I haven't even installed it :sweat_smile:)...I think we can mention it when w

[2018-09-28 20:15] dasanchez commented on #230
It does look less cluttered 😄
![picnic-flyer-8 5x11](https://user-images.githubusercontent.com/2331903/46231336-8f540300-c339-11e8-9c71-e4169b34f8c3.png)

[2018-09-28 20:17] makew0rld commented on #230
Nice! I would point out that while saying scuttlebot is technically correct, it does look like a typo.

[2018-09-28 20:18] dasanchez commented on #230
:man_facepalming: good catch

[2018-09-28 20:22] dasanchez commented on #230
Butt, not bot, in both places:

![picnic-flyer-8 5x11](https://user-images.githubusercontent.com/2331903/46231614-9a5b6300-c33a-11e8-9849-3e53d9021d0c.png)

[2018-09-29 00:48] benhylau commented on #230
`Secure Scuttlebutt` differs from Scuttlebutt :)

Also remove the `www` in both SSB and Manyverse will save some space, and make links more consistent across the sheet.

Maybe use a `?` icon in front of the service descriptions so it's not just a blank space?

[2018-09-29 00:57] makew0rld commented on #230
+1 to removing the www, but I think a ? icon doesn't look too good, you could remove the icons entirely on that side, or just have a generic application logo. He may have already printed them though.

[2018-09-29 12:43] dasanchez commented on #230
@benhylau I printed them before leaving work last night 😨
Is the "Secure" something we can mention whenever we talk about Scuttlebutt? Or is this something the Scuttlebutt and/or Secure Scuttlebutt would not appreciate?

I'm OK with just _talking_ about distributed apps 👍

[2018-09-29 14:22] benhylau commented on #230
I don't think it's a big deal, and perhaps Scuttlebutt is okay in current context.

Sources:
https://www.scuttlebutt.nz/faq/basics/patchwork-vs-scuttlebutt
https://www.scuttlebutt.nz/faq/basics/ssb-vs-scuttlebutt-vs-scuttlebot-vs-sbot

[2018-10-16 23:47] dasanchez commented on #230
Summarized this discussion and meeting notes in the  [documents repo](https://github.com/tomeshnet/documents/blob/master/meeting_notes/20180929_mesh-picnic.md).

[2018-10-16 23:47] #230 closed, assigned to garrying, ASoTNetworks, dasanchez, dcwalk, Shrinks99, makew0rld, Pedro-on-a-bike, darkdrgn2k

[2018-12-09 03:19] Shrinks99 commented on #221
Closed in #241!

[2018-12-09 03:19] #221 closed, assigned to dasanchez

[2018-12-09 17:36] dasanchez commented on #137
The Projects Page was added through PR #228.

[2018-12-09 17:36] #137 closed, assigned to nobody

[2019-01-25 04:26] dasanchez opened #247 "Add a page listing mesh services"
Make mesh services currently running visible on the website:

DNS at fcxx:1234 address
NTP at fcxx:7890 address

@ASoTNetworks can you tell me what else we have going? Feel free to explain how/where these services are running (anything we can use to give the page some content).

[2019-01-25 06:18] ASoTNetworks commented on #247
Here is a list of services that I know in the mesh:

In cjdns:
- DNS:
  - fc41:47b9:dd78:ff21:1b24:dab8:3f81:168e
  - fc4d:c8e5:9efe:9ac2:8e72:fcf7:6ce8:39dc
  - fc6e:691e:dfaa:b992:a10a:7b49:5a1a:5e09
  - fc16:b44c:2bf9:467:8098:51c6:5849:7b4f
- NTP:
  - fc41:47b9:dd78:ff21:1b24:dab8:3f81:168e
  - fc4d:c8e5:9efe:9ac2:8e72:fcf7:6ce8:39dc
- Chat:
  - https://h.chat.tomesh.net
  - https://h.matrix.t

[2019-01-25 15:02] dasanchez commented on #247
Thanks @ASoTNetworks!
@darkdrgn2k @benhylau do you have any comments on this?

[2019-02-19 18:00] darkdrgn2k commented on #247
# Exit Node
201:54d5:b2e9:6933:ea40:8eb6:6b8a:744
fcbb:3e34:cdfe:9e99:cb34:c3a3:1604:9955
- VPN over PIA for internet access as Exit Node

# Node1
200:857:6533:284d:dc97:62f:7562:d768  y.ssb.e-mesh.net
fc4d:c8e5:9efe:9ac2:8e72:fcf7:6ce8:39dc  h.ssb.e-mesh.net

- Ntp server
- DNS server
- SSB Pub

# Node2
200:98bf:d6df:e49a:f525:40bf:18d:ac45
fc6e:691e:dfaa:b992:a10a:7b49:5a1a:5e09 h.e-mesh.net

-

[2019-02-19 18:11] darkdrgn2k commented on #247
Also there are the IPFS bootstraps

https://github.com/tomeshnet/prototype-cjdns-pi/blob/320953b3283d0933ffb35aec658d43d80b9370ce/scripts/ipfs/install#L9-L19

[2019-02-20 03:04] benhylau commented on #247
Started a page to list this on documents https://github.com/tomeshnet/documents/pull/113

[2019-03-13 15:08] darkdrgn2k opened #249 "update get involved - Riot desktop client"
Adjust the get involved text about Riot Mobile to include Riot Desktop

https://github.com/tomeshnet/tomesh.net/blob/master/get-involved.md

[2019-04-14 18:24] Shrinks99 commented on #249
Fixed in https://github.com/tomeshnet/tomesh.net/commit/329cd2afc415a519be10dcbb3410ee6261a7680d.

[2019-04-14 18:24] #249 closed, assigned to nobody

[2019-04-19 13:09] dasanchez opened #254 "Update Timeline with CivicTechTO 2019 Talk"
Post a link to the YouTube livestream.

[2019-04-30 16:21] #254 closed, assigned to dasanchez

[2019-09-28 00:21] darkdrgn2k opened #260 "Onboarding for Riot - Update instructions"
looks like user onboarding for our matrix chat will be changing https://medium.com/@RiotChat/new-privacy-controls-for-riot-dc3661888563

"With the latest release you no longer select an identity server at login or registration time. Instead, you can now manage your use of an identity server in user settings"

[2020-02-23 18:27] darkdrgn2k opened #267 "Migrate to GitHub Pages"
Digital ocean site is overkill for a static site

Suggested migration to GitHub Pages
- [x] Add deploy script to `TravisCI` #268
   - [x] Create repo https://github.com/tomeshnet/tomeshnet.github.io
    - [x] PR Made sample [here](https://tomeshnet.github.io/)
    - [x] Generate `GitHub` Personal Access Token [here](https://github.com/settings/tokens)
    - [x] Add a `TravisCI` environment variabl

[2020-07-10 01:35] darkdrgn2k opened #281 "Review Code of Conduct"
Adapt from
https://wiki.hyperledger.org/display/HYP/Hyperledger+Code+of+Conduct

[2020-07-15 16:02] Shrinks99 commented on #260
Hijacking this issue to also include the name change from Riot.im to Element.  Will update accordingly.

[2020-07-17 05:06] Shrinks99 commented on #223
Won't fix, site restructure territory.

[2020-07-17 05:06] #223 closed, assigned to Shrinks99

[2020-08-02 19:47] digitaldina commented on #247
Started a PR!

[2020-08-03 14:36] benhylau commented on #247
Hey @digitaldina thanks for the email. Can you send a blank email to hello@tomesh.net so I have your email address? I want to send you the onboard email to the [Toronto Community Network](https://github.com/tomeshnet/toronto-community-network/) project. Thanks!

[2020-08-19 05:22] darkdrgn2k commented on #260
@Shrinks99 closed?

[2020-08-19 05:23] #218 closed, assigned to Shrinks99, darkdrgn2k

[2020-08-19 13:04] darkdrgn2k commented on #211
CJDNS has been removed from the network for now.
Issue closed

[2020-08-19 13:04] #211 closed, assigned to nobody

[2020-08-19 13:05] #260 closed, assigned to Shrinks99

[2020-08-23 20:34] Shrinks99 opened #293 "Allow users to sign up for our mailing list"
We have a mailing list now!  [https://lists.hypha.coop/cgi-bin/mailman/listinfo/tomeshnet](https://lists.hypha.coop/cgi-bin/mailman/listinfo/tomeshnet)

There needs to be a way to sign up for this on the homepage.

[2020-08-24 10:48] benhylau commented on #293
@ASoTNetworks and I figured out how to make a pretty embed:

<img width="721" alt="Screen Shot 2020-08-24 at 12 48 03 PM" src="https://user-images.githubusercontent.com/2261308/91036713-1b473600-e608-11ea-9625-2eb49947894b.png">

[code]

This was on another jekyll site, but can be modified for tomesh.net.

[2020-10-01 00:50] darkdrgn2k commented on #267
reticketing last task to
https://github.com/tomeshnet/documents/issues/129

[2020-10-01 00:51] #267 closed, assigned to nobody

[2020-10-01 00:52] darkdrgn2k commented on #247
Lots of this is out of date now with TCN starting. @digitaldina pr coveres most of the items. Closing issue

[2020-10-01 00:52] #247 closed, assigned to dasanchez

[2020-10-01 00:53] darkdrgn2k commented on #217
What is the purpose of this issue?

[2020-10-01 00:54] darkdrgn2k commented on #207
Closing as this needs to be re-worked due to TCN starting

[2020-10-01 00:54] #207 closed, assigned to garrying, benhylau, dcwalk, Shrinks99, darkdrgn2k

[2020-10-01 00:58] darkdrgn2k commented on #85
Closing due to re-structuring of project.

Open Collective ticket  at https://github.com/tomeshnet/toronto-community-network/issues/104

[2020-10-01 00:58] #85 closed, assigned to garrying

[2020-10-01 01:00] darkdrgn2k commented on #198
Starte mailing list instead.
This may convert to newsletter as time goes on

#293

[2020-10-01 01:00] #198 closed, assigned to nobody

[2020-10-01 01:01] darkdrgn2k commented on #215
Larger onboarding rework ticket https://github.com/tomeshnet/toronto-community-network/issues/94

Closing ticket as it is stale

[2020-10-01 01:01] #215 closed, assigned to nobody

[2020-10-01 02:12] Shrinks99 commented on #217
Many issues in this repo are out of date now. I haven't gone through and removed them because I'd like to do a big review of them when it comes to time to fully revamp the website.  The issue was made because most of the content in this menu can be displayed in a much more succinct manor (the way it's done on [wilkinson.graphics](https://wilkinson.graphics) :P )

[2020-10-03 04:02] #293 closed, assigned to Shrinks99